apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: metrics-smart-gateway-{{ sg_label }}
  labels:
    sa-telemetry-app-{{ sg_label }}: metrics-smart-gateway-{{ sg_label }}
spec:
  selector:
    matchLabels:
      sa-telemetry-app: metrics-smart-gateway-{{ sg_label }}
  namespaceSelector:
    matchNames:
    - {{ namespace }}
  endpoints:
  - port: metrics
    interval: {{ sa_telemetry_consumers_default_interval }}
    metricRelabelings:
    - action: labeldrop
      regex: pod
      sourcelabels: []
    - action: labeldrop
      regex: namespace
      sourcelabels: []
    - action: labeldrop
      regex: instance
      sourcelabels: []
    - action: labeldrop
      regex: job
      sourcelabels: []
